@media screen and (max-width:1000px) {
  .container {
    width: 100%;
  }

  .s-left {
    width: 300px;
    height: auto;
  }

  .maps {
    width: 100%;
  }
}

@media screen and (max-width:800px) {

  .h-back {
    height: 200px;
  }

  .h-title {
    font-size: 24px;
  }

  .new {
    width: 80%;
  }

  .concept {
    width: 100%;
  }

  .c-morning,.c-evening {
    min-width: 50%;
    height: auto;
  }

  .morning-img,.evening-img {
    width: 50%;
    height: auto;
  }
  
}

@media screen and (max-width:800px) {

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  .h-back {
    height: 150px;
  }

  .h-bottom {
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }

  .h-title {
    font-size: 20px;
    margin-left: 10px;
  }

  nav {
    display: none;
  }

  .header-hide {
    display: block;
  }

  .min-menu {
    width: 20px;
    height: 20px;
    margin: 5px 10px 0 0;
  }

  .new {
    width: 80%;
    border: 3px solid #A4CD88;
    padding: 10px;
  }

  .new img {
    width: 30%;
  }

  .menu {
    width: 80%;
  }
  
  .m-drink,.m-morning,.m-sand,.m-pasta,.m-cake,.m-alchol {
    width: 150px;
    height: 150px;
    background-size: contain;
    padding: 0px;
  }

  .shops {
    width: 90%;
  }

  .s-left {
    width: 50%;
    height: 50%;
  }

  .s-right {
    width: 50%;
    height: 50%;
    margin-left: 10px;
  }

  .maps-link {
    display: block;
  }

  .maps {
    display: none;
  }

  .twitter,.instagram {
    width: 60px;
    height: 60px;
    padding: 10px;
  }
  
  .twitter {
    margin-right: 10px;
  }
  
  .instagram {
    margin-left: 10px;
  }
  
  .f-twitter,.f-instagram {
    font-size: 40px;
  }
  
  footer {
    height: 150px;
  }

  .concept,.new ,.menu,.sns{
    margin-bottom: 60px;
  }



  .sub-title {
    width: 150px;
    margin-left: 20px;
  }

  .sub-title h3 {
    margin: 0;
  }

  form {
    width: 90%;
  }

  .contact-form th {
    height: 30px;
    text-align: left;
    padding-right: 10px;
    font-size: 12px;
    font-weight: normal;
  }
  
  input {
    border:3px solid #A4CD88;
    height:20px;
    width: 150px;
  }
  
  textarea {
    border:3px solid #A4CD88;
    height: 200px;
    width: 250px;
  }
  
  .button {
    width: 100px;
    height: 30px;
    background-color: #A4CD88;
    margin-bottom: 200px;
  }


  .menu-container {
    width: 90%;
  }
  
  .m-box {
    width: 140px;
    height: 140px;
    margin-right: 20px;
  }
  
  .m-img {
    width: 120px;
    height: 120px;
  }
  
  .m-text {
    width: 200px;
  }
  
  .m-text p {
    line-height: 1.5;
  }


  


  .new p ,.new h5,.concept p,.shop p, footer p,.c-evening p,.c-morning p,.tex-box,.m-text p{
    font-size: 12px;
  }

  .concept h5 ,.new h3,.m-contents h5,.shop h5,.new-contents h3,.f-title,.sub-title,.m-text h5{
    font-size: 16px;
  }

}